<!-- # LOGIN FACILITADOR -->
<body class="bg-dark">

  <div class="container">

    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center">
        <!-- <b>Gestión de asistencias Pygmalion</b><br /> -->
        <div class="text-login-role text-info d-flex flex-column   align-items-center">
          <i class="fas fa-user icon-login"></i>
          <span><b>Facilitador</b></span>
        </div>
        
      </div>
      <%= render "layouts/alerts" %>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="form-label-group">
            <%= f.email_field :email, id:"inputEmail", class: "form-control", autofocus: true, autocomplete: "email", required: true %>
            <%= f.label :email %>
            <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"> -->
            <!-- <label for="inputEmail">Email address</label> -->
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", required: true %>
            <%= f.label :password %>
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required"> -->
            <!-- <label for="inputPassword">Password</label> -->
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="checkbox field">
            <label>
              <%= f.check_box :remember_me %>
              <!-- <input type="checkbox" value="remember-me"> -->
              Recordar contraseña
            </label>
          </div>
        </div>
        <% end -%>

        <%= f.submit "Ingresar", class: "btn btn-primary btn-block" %>
        <!-- <a class="btn btn-primary btn-block" href="index.html">Login</a> -->
      </form>
      <div class="text-center mt-3">
        <%= render "users/shared/links" %>
        <%= link_to new_admin_session_path, class: "btn btn-sm", title: "Editar" do %>
        <span>Ingresar como Admin</span>
        <% end %>
         
      </div>

    </div>
  </div>
</div>
<% end %>

