<div class="card mb-3">
	<div class="card-header text-center header_table_admin" id="header_table_schools">
		<i class="fas fa-school"></i>
	Instituciones Educativas</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm" id="schoolsTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Grupo</th>
						<th>Instituci贸n</th>
						<th>Facilitador</th>
						<th>Sesiones</th>
						<th>Estudiantes / Sesi贸n</th>
						<th class="th-opciones">Opciones</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Grupo</th>
						<th>Instituci贸n</th>
						<th>Facilitador</th>
						<th>Sesiones</th>
						<th>Estudiantes / Sesi贸n</th>
						<th>Opciones</th>
					</tr>
				</tfoot>
				<tbody>
					<% @schools.each do |school| %>
					<tr>
						<td><%=  school.code %></td>
						<td><%=  school.name %></td>
						<td><%=  school.user ? school.user.fullName : school.user %></td>
						<td><%=  school.class_sessions.count %></td>
						<td><%= school.students_avg %></td>		
						<td>
							<div class="btn-group btn-group-sm" role="group">
								<%= link_to school_path(school), remote: true,class: "btn btn-info btn-sm",title:"Ver detalles" do%>
								<i class="far fa-eye text-dark"></i>
								<% end %>
								
							</div>
						</td>
					</tr>

					<% end %>
					
				</tbody>
			</table>
		</div>
	</div>	
</div>