<%= render "navbar" %>

<div id="wrapper">
	<!-- Sidebar -->
	<%= render "sidebar" %>
	<div id="content-wrapper">

		<div class="container-fluid">

			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<%= "#{current_admin.email}" %>
				</li>
				<li class="breadcrumb-item active">Inicio</li>
			</ol>
			<%= render "facilitadores_table" %>
			<br /><br />
			<%= render "schools_table" %>
			<br /><br />
			<%= render "sessions_table" %>

		</div>
		<!-- /.container-fluid -->
	</div>


	
	
	<!-- /.content-wrapper -->

</div>



