
<h4 class="my-4">Lista de Estudiantes - <em><%= @students.first.school.name %></em></h4>
<div class="table-responsive">
	<small class= "text-muted">Orden alfabético por primer apellido*</small>
	<table class="table table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th scope="col">Documento identidad</th>
				<th scope="col">Primer nombre</th>
				<th scope="col">Segundo nombre</th>
				<th scope="col">Primer Apellido</th>
				<th scope="col">Segundo Apellido</th>
				<th scope="col">¿Asistió?</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr>
				<th><%= student.cc %></th>
				<td><%= student.first_name %></td>
				<td><%= student.middle_name %></td>
				<td><%= student.last_name_1 %></td>
				<td><%= student.last_name_2 %></td>
				<td><%= check_box_tag "student_ids[#{student.id}]", student.id %></td>
			</tr>
			<% end %>

		</tbody>
	</table>
</div>
