<div class="modal fade" id="show-facilitador-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Detalles de la Sesión</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					<h4><b><%= @session.school.name.upcase %></b></h4>
					<span>Sesión <%= @session.number %></span><br />
					<span>
						<b>Cantidad de asistentes:</b>
						<%= @session.students.count %>
					</span><br />
					<span>
						<b>Facilitador:</b>
						<%= @session.user ? @session.user.fullName : @session.facilitador   %>
					</span><br />
					
				</p>
				<p>
					<span>
						<b>Fecha: </b><%= @session.showDate %> <span><em>( 
							Semana: <%= @session.week %>)</em></span>
					</span><br />
					<span><b>Hora: </b><%= @session.showTime %></span><br />
					
				</p>
				
			</div>

		</div>
	</div>
</div>
