<div id="wrapper">
	<!-- Sidebar -->
	<%= render "layouts/sidebar" %>

	<div id="content-wrapper">

		<div class="container-fluid">

			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<%= "#{current_user.first_name} #{current_user.last_name_1}" %>
				</li>
				<% if @session.new_record? %>
				<li class="breadcrumb-item active">Nueva sesión</li>
				<% else %>
				<li class="breadcrumb-item active">Editar sesión</li>
				<% end %>
			</ol>

			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fas fa-table"></i>
					<% if @session.new_record? %>
					Ingresar nueva sesión
					<% else %>
					Editar sesión
					<% end %>
					
				</div>

				<div class="card-body">
					<%= form_for @session do |f| %>
					<% if @session.errors.any? %>
					<div class="alert alert-danger alert-block alert-fized">
						<p>
							<%= pluralize(@session.errors.count, "error")  %>
							prevented this post from saving
						</p>
						<ul>
							<% @session.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
					<% end %>

					<div class="form-row">
						<div class="form-group col-lg-6">
							<label for="school"><b>Institución</b></label>
							<%= collection_select(:class_session, :school_id, School.where(user_id: current_user.id), :id, :getName, {prompt: false}, {:class=>'custom-select select_school_session', :id=>'school', autofocus: true, :required => true, :selected => "1"}) %>
							<%#= select_tag "school", options_from_collection_for_select(School.where(user_id: current_user.id), :id, :name), {:class=>'custom-select select_school_session', :id=>'school', autofocus: true, :required => true} %>

							<!-- continue in https://guides.rubyonrails.org/v2.3/form_helpers.html -->
						</div>
						
						<div class="form-group col-lg-2">
							<label for="date"><b>Fecha</b></label>
							<input class="form-control session-date" type="date" name="date" required>
							
						</div>

						<div class="form-group col-lg-2">
							<label for="last_name_2"><b>Hora</b></label><small class="text-muted"> 24:00Hrs</small>
							<!-- timeHM has to be different to time because it can be confused with clas_session.date -->
							<input class="form-control" type="time" name="timeHM" placeholder="HH:MM" required>
						</div>

						<div class="form-group col-lg-2">
							<label for="number"><b># Sesión</b></label>
							<%= f.number_field :number, class: "form-control", id: "number",min: 1, :required => true %>
						</div>
					</div>

					<div class="cont-students-session">
						<!-- table students -->
					</div>


					<hr>
					<div class="form-group text-center mt-4">
						<% if @session.new_record? %>
						<%= f.submit "Crear", class: "btn btn-success"%>
						<% else %>
						<%= f.submit "Guardar", class: "btn btn-warning"%>
						<% end %>
						<%= link_to "Volver", class_sessions_path, class: "btn btn-secondary"%>
					</div>
					
				</div>

				<% end %>
			</div>
			
		</div>

	</div>
	<!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->

</div>